<!-- include header of page -->
{% include 'header.html' %}
    <div class="row">
        <div class="content-button-header col-md-6">
            <!-- link to private list of teams -->
            <a href="{{url_for('showTeams')}}" class="btn btn-default btn-sm"> Teams </a>
            <!-- link to add player -->
            <a href="{{url_for('newTeamPlayer', team_id = team.id )}}" class="btn btn-default btn-sm"> Add Player </a>
            <!-- link to Json of players -->
             <a href="{{url_for('playersJSON',team_id = team.id)}}" class="btn btn-default btn-sm">Players Json</a>
        </div>
    </div>

    <div class = 'pane'>
        <h1><img src="/static/img/upload/{{team.logo}}" alt="{{team.name}}" height="100" width="100">{{ team.name }}</h1>

            {% with messages = get_flashed_messages() %}
          {% if messages %}

            <ul>
            {% for message in messages %}
                <li> <strong> {{ message }} </strong> </li>
            {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}

        {% if players !=[] %}

        <h3>Players:</h3>

            {% for i in players %}

            <p>
                <img src="/static/img/upload/{{i.picture}}" alt="{{i.name}} {{i.surname}}" height="42" width="42">  {{i.name}} {{i.surname}}, {{i.role}}
                <a href='{{url_for('editTeamPlayer', team_id = team.id, player_id=i.id ) }}'> <button type="button"  class="glyphicon glyphicon-pencil"></button></a>
                <a href='{{url_for('deleteTeamPlayer', team_id = team.id, player_id=i.id ) }}'>  <button type="button"  class="glyphicon glyphicon-trash"></button></a>
            </p>


                {% endfor %}

            {% else %}
            <p>The team {{team.name}} currently have no players. <p>
                {% endif %}
    </div>
{% include 'footer.html' %}
