{% include 'header.html' %}
    <div class="row">
        <div class="content-button-header col-md-6">
        <a href="{{url_for('showTeams')}}" class="btn btn-default btn-sm"> Teams </a>
		<a href="{{url_for('showPlayers',team_id=team_id )}}" class="btn btn-default btn-sm"> Back to Team </a>
        </div>
    </div>

<h3><i>Delete Player</i></h3>
<h4> Are you sure you want to delete {{player.name}} {{player.surname}}? </h4>

<form action="#" method = 'post'>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
       <p><button type="submit" value='Delete' class="btn btn-primary">Delete</button></p>
</form>

</body>

</html>
