<html>
<head>
	<link rel='stylesheet prefetch' href="{{ url_for('static', filename='dist/css/bootstrap.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<div class="jumbotron">
    <div class="row">
        <div class="col-md-9">
                <img src="{{ url_for('static', filename='img/fantasoccer.png') }}">
        </div>
        <div class="col-md-3">
            <img src="{{session['picture']}}" height="42" width="42">
                <b>{{session['username']}} </b>
                <a href = "{{url_for('gdisconnect')}}"><img src="{{ url_for('static', filename='img/signout.png') }}" height="40" width="90"></a>
        </div>
    </div>