<html>

<head>
	<link rel='stylesheet prefetch' href="{{ url_for('static', filename='dist/css/bootstrap.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<div class="jumbotron">
    <div class="row">
        <div class="col-md-9">
                <img src="{{ url_for('static', filename='img/fantasoccer.png') }}">
        </div>
        <div class="col-md-3">

        </div>

    </div>
    <!-- link to menu-->
    <p><a href="{{url_for('showLogin')}}" class="btn btn-default btn-sm"> Menu </a></p>
</div>
	<table class="table table-striped">
        <thead>
            <tr>
                <th>
                    <b>TEAMS</b>
                </th>
            </tr>
        </thead>
        <tbody>
            <!-- cycle to have list of teams -->
            {% for team in teams %}

            <tr>
                <td align="left"><a href = "{{url_for('showPlayers', team_id = team.id)}}"><b><img src="static/img/upload/{{team.logo}}" alt="{{team.name}}" height="42" width="42"> {{team.name}}</b></a></td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
{% include 'footer.html' %}