<html>

<head>
	<link rel='stylesheet prefetch' href="{{ url_for('static', filename='dist/css/bootstrap.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<div class="jumbotron">
	<img src="/static/img/fantasoccer.png">
	<!-- link to menu & link to public list of teams -->
<p><a href="{{url_for('showLogin')}}" class="btn btn-default btn-sm"> Menu </a> <a href="{{url_for('showTeams')}}" class="btn btn-default btn-sm"> Teams </a>
</div>


		<div class = 'pane'>

	<h1><img src="/static/img/upload/{{team.logo}}" alt="{{team.name}}" height="100" width="100">{{ team.name }}</h1>

		{% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

    {% if players !=[] %}

	<h3>Public Players:</h3>

		{% for i in players %}

		<p><img src="/static/img/upload/{{i.picture}}" alt="{{i.name}} {{i.surname}}" height="42" width="42">  {{i.name}} {{i.surname}}, {{i.role}}</p>


			{% endfor %}

		{% else %}
		<p>The team {{team.name}} currently have no players. <p>
			{% endif %}
</div>
{% include 'footer.html' %}
